# **Python question for beginners**

### **String manipulation**

In python, a string is any symbol, character, or digit that is between two quotation marks. For example, `"hi ?? &1"` is a string, since it is between two quotation marks ". The quotation marks can also be two '.

1. **Print** a simple string "Hello World" and **print the length** of this string by using the function `len()`.

In [1]:
message = "Hello World"

# start
print(message)
print(len(message))
# end

Hello World
11

2. Given two parts of a string "Spider" and "Man", and print the **concatenation** of these two strings so it prints "SpiderMan". We use + to concatenate two strings.

In [ ]:
part1 = "Spider"
part2 = "Man"

# start
print(part1+part2)
# end

SpiderMan

3. Indexing a string is done by using square brackets. Print the three first letters of the word "hello" by using **string indexation**.

Hint: Be careful, in python, the first character of a string is indexed by 0 and not by 1. For example, if a string is `message = "python"`, then `message[0] = p`.

In [2]:
message = "hello"

# start
print(message[0:3])
# end

hel

4. Print "abracadabra" but only for letters 2 to 7, so it prints "bracad", using **string slicing**.

In [ ]:
message = "abracadabra"

# start
print(message[1:7])
# end

bracad

5. **Lower** the characters of the string "SPIDERMAN" so and print the result "spiderman".

Hint: Check the python function `lower()`

In [ ]:
message="SPIDERMAN"

# start
print(message.lower())
# end

spiderman

6. **Count** the number of letters, numbers and symbols in the given string. Note that space is not considered as symbols.

Hint : You need to use a `for` loop, and the functions `isdigit()` and `isalpha()`. You will also have to use `if/else` conditions. For other questions, whether conditions are needed will not be specified.

In [15]:
message="one 1 two! 2 three four!4, 6,;7++9"
#message="a+rtifici;a(l i$ntelli/)gence (AI), the abil7,(ity$ o4f a. d1igit]a)]l 5c$omputer o5r comput+e]9)96r-+23?controll:ed3 r0ob;o%-t t]?o; per)f1orm4 tasks3 -5.c3%o6mm)on7ly, a3sso;-c+ia,ted wi.th 8i$ntell8ige([nt )+$beings:."
n_alpha = 0
n_digit = 0
n_symbol = 0

# start
for i in message:
  if i.isdigit():
    n_digit+=1
  elif i.isalpha():
    n_alpha+=1
  elif i == " ":
    continue
  else:
    n_symbol+=1


# end
print(n_alpha, n_digit, n_symbol)

15 6 13

### **Lists and set manipulation**

A list is a data structure that contains a series of values. Python allows the construction of lists containing values of different types (for example integer and string). A list is declared by a series of values (don't forget the quotes, single or double, if they are strings) separated by commas, and the whole surrounded by square brackets.

Lists have a lot in common with strings. Checking the length of a string, as well as indexing, concatenating and slicing lists are done in the same way as for strings.

An empty list object can be initialized as:

```python
a = []
```

7. **Initialize** `my_list_string` to be an empty list. **Add** the strings "alice", "bob", and "charlie" to the list `my_list_string`.

In [13]:
my_list_string = None

# start
my_list_string=[]
my_list_string.append("alice")
my_list_string.append("bob")
my_list_string.append("charlie")


# end

print(my_list_string)

['alice', 'bob', 'charlie']

8. **Print the length** of `my_list_string`.

In [ ]:
# start
print(len(my_list_string))
# end

3

9. Find **two ways** to select the last element of the list `my_list_string`, and print it.

In [ ]:
# start
print(my_list_string[2])
print(my_list_string[-1])
# end

charlie
charlie

10. In python, there are several ways to **delete an element** from a list. In this question, we will try to use these three methods :

*   `list.pop(index)`
*   `del(list[index])`
*   `list.remove(item)`

For each method, delete the element `"bob"` from `my_string_list2`.

In [ ]:
# pop method
my_list_string2 = my_list_string.copy()

# start
my_list_string2.pop(1)
# end
print(my_list_string2)


# del method
my_list_string2 = my_list_string.copy()

# start
del(my_list_string2[1])
# end
print(my_list_string2)

# remove method
my_list_string2 = my_list_string.copy()

# start
my_list_string2.remove("bob")
# end
print(my_list_string2)

['alice', 'charlie']
['alice', 'charlie']
['alice', 'charlie']

11. **Sort** the following lists : `list_30` and save the results in variables `list_30_sorted`. 

Hint: Look for python's sorting function `sorted`

In [ ]:
list_30 = [13, 8, 9, 16, 15, 3, 28, 6, 4, 2, 24, 30, 29, 23, 14, 27, 26, 19, 7, 5, 1, 20, 10, 18, 25, 22, 21, 17, 12, 11]

list_sorted = None
#start
list_sorted = sorted(list_30)
# end 
print(list_sorted)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

12. **Count the number of occurences** of the word "dog" in `list_animals` and save the results in the variable `count_of_dog`.

Hint: Look for python's counting function `count`

In [4]:
list_animals = ["dog","cat","mouse","capybara","cow","dog","dog","mouse","cow","capybara","cat","dog"]

count_of_dog = 0
# start
count_of_dog=list_animals.count("dog")
# end
print(count_of_dog)

4

13. **Give the index** of the word "capybara" in `list_animals` and save the result in variable `index_of_capybara`.

Hint: Check python function `index`.

In [5]:
list_animals = ["dog","cat","mouse","capybara","cow","dog","dog","mouse","cow","capybara","cat","dog"]

index_of_capybara = 0
# start
index_of_capybara = list_animals.index("capybara")
# end
print(index_of_capybara)

3

14. **Concatenate** the two lists `list_animals` and `list_animals2` into a new list `animals`.

In [6]:
list_animals = ["dog","cat","mouse","capybara","cow","dog","dog","mouse","cow","capybara","cat","dog"]
list_animals2 = ['cat', 'dog', 'rabbit', 'horse']

animals = None
# start
animals = list_animals + list_animals2
# end

print(animals)

['dog', 'cat', 'mouse', 'capybara', 'cow', 'dog', 'dog', 'mouse', 'cow', 'capybara', 'cat', 'dog', 'cat', 'dog', 'rabbit', 'horse']

15. Print all the animal names that are in `list_animals` and which **first letter is c**. 

Hint: You may need to use with `for`-loop.

In [ ]:
list_animals = ["dog","cat","mouse","capybara","cow","dog","dog","mouse","cow","capybara","cat","dog"]

# start
for i in list_animals:
  if i[0] == "c":
    print(i)


# end

cat
capybara
cow
cow
capybara
cat

16. **Sum** all elements in the list and save the results in variable `list_sum`. It means that if the list is `[a,b,c,d]`, the result should be `a+b+c+d`.

Hint: You should not use any loops. Check for a python function that can directly do what is asked.

In [ ]:
list_30 = [13, 8, 9, 16, 15, 3, 28, 6, 4, 2, 24, 30, 29, 23, 14, 27, 26, 19, 7, 5, 1, 20, 10, 18, 25, 22, 21, 17, 12, 11]

list_sum = 0
# start
list_sum = sum(list_30)
# end
print(list_sum)

465

17. Find the **intersection** of `list_animals` and `list_animals2`, i.e. a set with all the animals that are present in both lists. Save the results in variable `animals_intersection`.

Hint: You might need to use the python object `set()`

In [ ]:
list_animals = ["dog","cat","mouse","capybara","cow","dog","dog","mouse","cow","capybara","cat","dog"]
list_animals2 = ['cat', 'dog', 'rabbit', 'horse']

animals_intersection = None
# start
animals_intersection = []
for i in list_animals2:
  if i in list_animals:
    animals_intersection.append(i)

# end
print(animals_intersection)

['cat', 'dog']

18. Check whether `list2` is a **subset** of `list1`, i.e. whether you can find all elements of `list2` in `list1`.

Hint: Check the function `issubset`

In [ ]:
list1 = [1,2,2]
list2 = [1,2]
is_subset = False

# start
is_subset = set(list2).issubset(set(list1))
# end

## Testing
print("Is", list2, "a subset of", list1, "? : ", is_subset)

Is [1, 2] a subset of [1, 2, 2] ? :  True

19. Split a string of a sentence into a **list of string words** by space. For example, if the string is "Hi everyone my name is John", you should have the list `["Hey", "everyone", "my", "name", "is", "John"]` as a result.

Hint: Look for the function `split` on python.

In [ ]:
lorem = "Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"

lorem_list = None
# start
lorem_list = lorem.split()
# end
print(lorem_list)

['Lorem', 'ipsum', 'dolor', 'sit', 'amet', 'consectetur', 'adipiscing', 'elit', 'sed', 'do', 'eiusmod', 'tempor', 'incididunt', 'ut', 'labore', 'et', 'dolore', 'magna', 'aliqua']

20. Python allows lists inside list, which can be used to save more than 1-dimensional data. Create an empty python list `my_array` and add the following three lists into the `my_array`.

*  First row: `[0,1,2]`
*  Second row: `[3,4,5]`
*  Third row: `[6,7,8]`

In [ ]:
my_array = None

# Start
my_array = []
my_array.append([0,1,2])
my_array.append([3,4,5])
my_array.append([6,7,8])
# end

print(my_array)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### **Dictionary**

A dictionary (or, in short in Python, dict) is a collection that associates a key with a value. For example, it is possible to associate the key `"animal"` with an animal name and the key `"height"` with the height of the animal. To create a dictionary, we associate a key with a value by separating them with `,`, all between braces `{}`.

For example: `my_dict = {"animal"="giraffe", "height"=5}`.

To access an element of a dict, you must use square brackets and specify the value of the key. For example : `my_dict["animal"] = "giraffe"`

We show two ways to initialize a `dict` object as follows:

```python
my_dict = {}
## alternatively
my_dict = dict()
```

21. **Create a dictionary** `my_dict` from a list of keys and a list of values.

In [ ]:
keys = ['brand','model','year']
values = ["Toyata","Yaris",1999]

my_dict = None
# start
my_dict = dict(zip(keys,values))

# end

print(my_dict)

{'brand': 'Toyata', 'model': 'Yaris', 'year': 1999}

22. **Extract the keys and values** from a dictionary. Save the keys and the values in two separate lists `keys` and `values` and print these lists.

Hint: Check the python function `keys` and `values`

In [ ]:
my_dict = {'name': 'amber', 'age': 26, 'gender':'female', 'job':'lawyer'}

keys = None
values = None
# start
keys = list(my_dict.keys())
values = list(my_dict.values())
# end

print(keys)
print(values)

['name', 'age', 'gender', 'job']
['amber', 26, 'female', 'lawyer']

23. We know that Amber's `"height"` is `165`. **Add this entry** in the dictionary `my_dict`. **Increment** the value of `age` by `1`. We also want the value of `'job'` to be `'doctor'` instead of `lawyer`. Update `my_dict` with these changes.

In [ ]:
# start
my_dict["height"] = 165
my_dict["age"] += 1
my_dict["job"] = "doctor"


# end

print(my_dict)

{'name': 'amber', 'age': 27, 'gender': 'female', 'job': 'doctor', 'height': 165}

24. **Merge** the two dictionaries `x` and `y` into a new dictionary `z`.

In [ ]:
x = {'a': 1, 'b': 2}
y = {'c': 11, 'd':29}

z = None
# start
x.update(y)
z = x
# end

print(z)

{'a': 1, 'b': 2, 'c': 11, 'd': 29}

25. **Count the number of occurences** of each word in the given text. Save these occurences in a dictionary. The dictionary should have a word as a key, the value associated to this key should be the number of occurences of the word. 

Hint: First split the sentence into a list of words using the function we mentioned in Q19. Then, use a `for` loop to enumerate the words in sentence.

In [ ]:
text = "you say goodbye and i say hello hello hello i don't know why you say goodbye i say hello hello hello i don't know why you say goodbye i say hello"
count_words = {}

# start
text_list = text.split()
for i in text_list:
  if i in count_words:
    count_words[i] += 1
  else:
    count_words[i] = 1

# end

print(count_words)

{'you': 3, 'say': 6, 'goodbye': 3, 'and': 1, 'i': 5, 'hello': 7, "don't": 2, 'know': 2, 'why': 2}

### **Functions**

A function is a sequence of instructions that can be called with a name.

First of all to indicate to the interpreter that you want to create a function, we use the keyword `def` followed by a name then parenthesis and then a double point. Between the parenthesis are the parameters, that we will use inside the function. It is possible that we do not have any parameter.

Once you have done that, you can write the intructions. A function usually ends with `return`, but this is not always the case.

For example:


```
def func(x):
    print("The function is working!")
    return 5*x
```

Here, `x` is a parameter of the function. We used `return 5*x`. It means that if we wrote `a = func(x)`, then a would be equal to `5*x`. If there is no `return`, then we cannot save `func(x)` in a variable. In the execution cell, we will also see printed `'The function is working!'`

You can also notice that there is a space before the keyword `return`, this is an indentation, i.e. a space that not only improves the reading of the function but also indicates that we are still in the function. When the requested action is no longer in the function, the text should no longer be indented. To indent text, you must press the `TAB` key on your keyboard.

26. Create a function `my_function`. This function has no parameter, and only print "Hello World".

In [ ]:
def my_function():
  '''fill in your code below'''
  # start
  print("Hello World")
  # end

## Testing: the function should print "Hello World"
my_function()

Hello World

27. Create a function `simple_func` that takes one parameter `x`. This function should **return** `x+5`.

In [ ]:
def simple_func(x):
  '''fill in your code below'''
  # start
  return x+5
  # end


## Testing: `res` should equal to 15
res = simple_func(10)
print(res)

15

28. A palindrome is a word that can be read the same whether you read it from left to right or from right to left, such as kayak or madam. Create a function `isPalindrome` that takes in parameter the string `s`. If the word is a palindrome, print `"the word is a palindrome"`. If not, print `"the word is not a palindrome"`.

Hint: You can use a `for` loop, but this is not necessary.

In [ ]:
def isPalindrome(s):
    '''fill in your code below'''
    # start
    length_word = len(s)
    for i in range(len(s)//2):
      if s[i] != s[len(s) - 1 - i]:
        print("the word is not a palindrome")
        return
    print("the word is a palindrome")
    # end

## Testing: the function should print "the word is a palindrome".
isPalindrome("madam")

the word is a palindrome

29. An algorithm is said to be recursive if, at some point, it calls itself. Write a **recursive** function `factorial` that takes in argument an integer `k`. The function will return the number $k! = 1 \times 2 \times ... \times k$.

In [ ]:
def factorial(k):
  '''fill in your code below'''
  # start
  if k == 1:
    return 1
  else:
    return k * factorial(k-1)

  
  # end


## Testing: `res` should equal to 720.
res = factorial(6)
print(res)

720

30. Create a function `find_max` that takes in argument a list `list1`. This function shall find the maximum of a list and the index at which this maximum is reached. You **must not** use the python function `max()`. This function return two results: the maximum and its index in the list.

Hint: You have to use a `for` loop.

In [7]:
def find_max(list1):
  '''fill in your code below'''
  # start
  reference = [list1[0],0]
  for i in range(1,len(list1)):
    if list1[i] > reference[0]:
      reference[0] = list1[i]
      reference[1] = i
  return (reference[0], reference[1])



  # end

## Testing: max_value should equal to 17; and max_index should equal to 4
max_value, max_index = find_max([-5,7,9,5,17,8,9])
print(max_value, max_index)

17 4